.cart-container{
 background-color: rgba(255, 153, 0, 0.3);
 margin-left: 50px;
 height: 100vh;
}

.cart-tittle{
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 50px;
}
.cart-container p{
    margin-left: 23px;
}